{% extends "layout.html" %}



{% from "button/macro.njk" import button %}
{% from "summary-list/macro.njk" import summaryList %}

{% block beforeContent %}
  {{ backLink({
    href: "what-are-your-contact-details2",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Check your answers 
      </h1>


      {{ summaryList({
        rows: [
          {
            key: {
              text: "Mobile number"
            },
            value: {
              text: data['mobileNumber']
            },
            actions: {
              items: [
                {
                  href: "what-are-your-contact-details2",
                  text: "Change",
                  visuallyHiddenText: "mobile number"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: data['emailAddress']
            },
            actions: {
              items: [
                {
                  href: "what-are-your-contact-details2",
                  text: "Change",
                  visuallyHiddenText: "email address"
                }
              ]
            }
          } 
        ]
      }) }}

     

      {{ button({
        text: "Continue",
        href: "what-is-your-sex2"
      }) }}

    </div>
  </div>
{% endblock %}
