{% extends "layout.html" %}


{% from "back-link/macro.njk" import backLink %}
{% from "header/macro.njk" import header %}
{% from "footer/macro.njk" import footer %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}


{% block beforeContent %}
  {{ backLink({
    href: "where-should-we-send-your-NHS-number3",
    text: "Back"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">
        You cannot request your NHS number again
      </h1>


<p>You have requested your NHS number too many times.</p>
<p>If you selected text or email, it should arrive within an hour.</p>
<p>If you selected letter it should arrive in 5 days. If you do not receive it after 5 days please contact your GP surgery to get your NHS number.</p>


{% from "action-link/macro.njk" import actionLink %}

{{ actionLink({
  text: "Find a GP",
  href: "#"
}) }}



<p>You can also find your NHS number by logging into the <a href="https://www.nhs.uk/nhs-app/account/">NHS app or website</a>. You can find your number under your profile.</p>
<p>You can <a href="https://www.nhs.uk/nhs-app/account/">create an account</a> if you do not have one.  </p>



{% endblock %}

{% block footer %}
  {{ footer({
    navigation: {
      items: [
        {
          href: "#",
          text: "Accessibility statement"
        },
        {
          href: "#",
          text: "Contact us"
        },
        {
          href: "#",
          text: "Cookies"
        },
        {
          href: "#",
          text: "Privacy policy"
        },
        {
          href: "#",
          text: "Terms and conditions"
        }
      ]
    }
  }) }}

    </div>
  </div>
{% endblock %}